@import "tailwindcss";

.marquee-container {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.marquee-container:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
